# Dependency lokal
node_modules
vendor

# Hasil build & testing (lokal)
dist
coverage
playwright-report
test-results
playwright/.cache

# File environment & rahasia lokal (jika ENV diatur via Docker Compose)
.env.local
.env.*.local

# Git & Editor
.git
.gitignore
.vscode
.idea

# Log
*.log
npm-debug.log*